#header {
	color: white;
	line-height: var(--titleW);
	margin-bottom: calc(-2 * var(--margin));
}

#langConta {
	margin-right: calc(-1 * var(--margin));
}

#nameIn {
	margin-left: 1em;
}

#editor {
	font-size: 90%;
}

.log .history {
	margin-bottom: calc(-1 * var(--margin));
}
.log .line, .log .line div {
	transition: background .5s, color .5s;
}

.debug { 
	background: var(--debugColor);
	font-weight: 700;
}

#menu > .flexIn {
	height: 100px;
	line-height: 100px;
	text-align: center;
}

#logs {
	scroll-behavior: smooth;
}

canvas {
	width: 100%;
	padding-top: 50%;
	height: 0;
}

.icon {
	position: absolute;
	width: 10%;
	padding-top: 10%;
	top: 0;
}
#rightIcon { right: 0; }
#leftIcon { left: 0; }

#progress {
	position: absolute;
	height: 100%;
	width: 50%;
	transition: width .5s;
}
#steps { z-index: 1; }
#steps div:hover {
	background: white;
	opacity: 50%;
}
