#header {
	color: white;
	margin-bottom: calc(-2 * var(--margin));
}

#langCont {
	right: var(--margin);
}

#nameIn {
	margin-left: 1em;
}

#editor {
	font-size: 90%;
}

.debug { 
	/*background: #F00;*/
}
div.debug {
	margin: 10px;
	height: 200px;
}
