#header {
	color: white;
	line-height: var(--titleW);
	margin-bottom: calc(-2 * var(--margin));
}

#langCont {
	right: var(--margin);
}

#nameIn {
	margin-left: 1em;
}

#editor {
	font-size: 90%;
}

.log .history {
	margin-bottom: calc(-1 * var(--margin));
}

.debug { 
	/*background: #F00;*/
}
div.debug {
	margin: 10px;
	height: 200px;
}

#menu > .flexIn {
	height: 100px;
	line-height: calc(100px - 1em);
	text-align: center;
}

#logs {
	scroll-behavior: smooth;
}
